.SearchBar{
    width: 50%;
    margin-top: 40px;
}
.Country-Cards{
    margin-top: 30px;
   
}

.CountryHomeCard :hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.CountryHomeCard:hover .card-body {
    transform: none; 
    box-shadow: none; 
}

.country-flag{
    height: 180px; 
    object-fit: cover; 
    width: 100%;
   
}
.ListGroup{
    width: 50%;
    max-height: 200px; 
    overflow-y: auto;
        
    
}